{% include 'basic/Head.html' %}

    <title>| Blogr |</title>

    {% include 'basic/CSS.html' %}
  </head>

  <body>


    {% include 'basic/Nav.html' %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='about-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading"> In the mist of all, lies a school-going kid </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hello Everyone !</p>
          <br>
          <p>This is me Abhishek Shree and I am here to help people out in programming and other related stuff.</p>
          <p>I am proficient in <mark>Python 3</mark>, <mark>C++</mark> and <mark>Java</mark> if programming languages are considered.</p>
          <p>Also I have an expertise in the following fields:
            <ul class="list">
              <li>Django</li>
              <li>Flask</li>
              <li>HTML, CSS and Javascript</li>
              <li>Vue.js</li>
              <li>Frontend css tools like <mark>Bootstrap</mark> and <mark>Foundation</mark></li>
              <li>D3.js</li>
              <li>jQuery and other JS frameworks</li>
            </ul>
          </p>
          <p>
            If you got any queries related to programming or you wish to communicate with me, contact me at:
          <div>
                <a href="https://www.instagram.com/_shree.e_/">
                <button type="button" class="btn btn-large btn-outline-secondary" style="margin-bottom:10px;">Instagram</button></a>
                <a href="https://www.quora.com/profile/Abhishek-Shree" >
                  <button type="button" class="btn btn-large btn-outline-secondary" style="margin-bottom:10px;">Quora</button></a>

                <a href="https://github.com/abhishekshree">
                <button type="button" class="btn btn-large btn-outline-secondary" style="margin-bottom:10px;">Github</button></a>
                <a href="https://twitter.com/_shree_e_">
                <button type="button" class="btn btn-large btn-large btn-outline-secondary" style="margin-bottom:10px;">Twitter</button></a>
          </div>

            I would to help anyone out with problems related to programming or web concepts.
          </p>
          <hr>
            <blockquote class="blockquote">
              I do stuff that I don't know how to.
              <footer class="text-right">-Abhishek</footer>
            </blockquote>
        </div>
      </div>
    </div>

    <hr>

{% include 'basic/Footer.html' %}