{% include 'basic/Head.html' %}

    <title>| Blogr |</title>

  {% include 'basic/CSS.html' %}
  </head>
  <body>

    {% include 'basic/Nav.html' %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>All Posts</h1>
              <span class="subheading">Latest Posts pinned first !</span>
            </div>
          </div>
        </div>
      </div>
    </header>

 <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul>
          {% for post in p %}
            <li><a href="{{ url_for('post', post_id=post.id) }}">
              <h5>
                {{ post.title }}
              </h5>
            </a></li>
          {% endfor %}
          </ul>
          </div>
      </div>
    </div>
<hr>

{% include 'basic/Footer.html' %}